.footer {
  min-width: 320px;
}

.map {
  max-width: 480px;
  margin: 0 auto;
}

.map__info {
  max-width: 480px;
  padding: 30px 20px;

  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
}

.map__message {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 140px;
}

.map__adress {
  font-size: 14px;
  line-height: 20px;
  color: $special_dark-grey;
  width: 140px;
}

.map__location {
  display: flex;
  justify-content: center;
}

.map__location picture {
  line-height: 0;
}

.map__img {
  width: 100%;
}

.footer__links {
  min-width: 280px;
  padding: 0 20px;
  background-color: $basic_grey;

  display: grid;
  grid-template-rows: repeat(3, auto);
}

.footer__logo {
  margin: 0;
  padding: 35px 0;
  line-height: 0;
  text-align: center;
}

.footer__socials {
  margin: 0;
  padding: 20px 0;
  list-style: none;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 767px) {
  .footer__logo,
  .footer__socials {
    border-bottom: 1px solid #d9d9d9;
  }
}

.footer__socials-item {
  line-height: 0;
  padding: 10px;
}

.developed-by {
  padding: 20px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.developed-by__name {
  font-weight: 300;
  font-size: 16px;
  color: $special_dark-grey;
}

.developed-by__icon {
  fill: $special_dark-grey;
}

@media (min-width: 768px) {
  .footer {
    min-width: 768px;
  }

  .map {
    max-width: none;
    min-width: 768px;
  }

  .map__info {
    max-width: none;
    padding: 55px 72px;
  }

  .map__message {
    font-size: 20px;
    line-height: 26px;
    width: 175px;
  }

  .map__adress {
    width: 160px;
    font-size: 16px;
    line-height: 25px;
    text-align: right;
  }

  .footer__links {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
  }
}

@media (min-width: 1200px) {
  .map {
    display: grid;
    grid-template-columns: 110px 40% auto 110px;
    grid-template-rows: auto auto auto;
  }

  .map__info {
    padding: 30px 50px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    z-index: 2;

    background-color: white;
  }

  .map__location {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }
}
