.main-nav__list {
  list-style: none;
}

.mobile__toggle {
  display: none;
}

.main-nav__list {
  margin: 0;
  padding: 0;
}

@media (max-width: 767px) {
  .header__wrapper {
    max-width: 480px;
    margin: 0 auto;
  }

  .mobile {
    min-width: 280px;
    height: 38px;
    padding: 15px 20px;
    border-bottom: 2px solid #e6e6e6;

    display: flex;
    align-items: center;
    position: relative;
  }

  .mobile__logo-icon::after {
    content: "";
    position: absolute;
    width: 101px;
    height: 18px;
    top: calc(50% - 9px);
    left: calc(50% - 50px);
    background-image: url("../../img/logo_name_cat-energy.svg");
  }

  .main-nav__item {
    min-width: 280px;
    margin: 0;
    padding: 20px;
    border-bottom: 2px solid #e6e6e6;

    font-family: "Oswald", sans-serif;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
  }

  .main-nav__link {
    color: #000000;
  }

  .mobile__toggle {
    width: 24px;
    height: 18px;

    border: none;
    background-color: transparent;
    background-image: url("../../img/mobile-hamburger.svg");
  }

  .main-nav--js {
    .mobile {
      border-bottom: none;
      justify-content: space-between;
    }

    .mobile__logo-name {
      margin-left: 0;
    }

    .mobile__toggle {
      display: block;
    }

    .main-nav__list {
      display: none;
    }

    .main-nav__list--js-open {
      display: block;
    }

    .main-nav__list--js-open .main-nav__item:first-child {
      border-top: 2px solid #e6e6e6;
    }

    .mobile__toggle--open {
      width: 19px;
      height: 20px;
      background-image: url("../../img/mobile-hamburger--open.svg");
    }
  }
}

@media (min-width: 768px) {
  .header__wrapper {
    max-width: 1200px;
    padding: 0 30px;
    margin: 42px auto 0;
  }

  .header__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    width: 440px;
    justify-content: space-between;
  }

  .main-nav__item {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .main-nav__item a {
    color: black;
  }

  .main-nav__item--current {
    border-bottom: 2px solid $basic_green;
  }
}

@media (min-width: 1200px) {
  .header__wrapper {
    padding: 53px 110px 0;
    margin: 0 auto;
    position: relative;
  }

  .header__bg-cat::after {
    content: "";
    position: absolute;
    width: 720px;
    height: 694px;
    top: -15px;
    right: -15px;
    z-index: -1;
    background-image: url("../../img/background-cat_1x.png");
  }

  .main-nav__item a {
    color: white;
  }

  .main-nav__item--current {
    border-bottom: 2px solid white;
  }
}

@media (min-resolution: 2dppx) {
  .header__bg-cat::after {
    background-image: url("../../img/background-cat_2x.png");
    background-size: 720px 694px;
  }
}
