.parameters__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 20px;
}

.parameters__item {
  list-style: none;
  display: flex;
  align-items: center;
}

.parameters__item:not(:last-child) {
  margin-bottom: 13px;
}

.parameters__label {
  color: $special_dark-grey;
  margin-right: 10px;
}

.parameters__label sup {
  vertical-align: baseline;
}

.parameters__input {
  padding: 12px;
  border: 1px solid #e7e7e7;

  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: $special_dark-grey;

  flex-grow: 1;
}

.parameters__input::placeholder {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special_grey;
}

.parameters__input:hover {
  border: 1px solid $special_grey;
}

.parameters__input:focus {
  outline-color: $special_dark-grey;
}

.parameters__input--error:focus {
  outline-color: $status_error;
}

@media (min-width: 768px) {
  .parameters {
    grid-column: 1 / -1;
  }

  .parameters__list {
    padding: 0 70px;
  }
}

@media (min-width: 1200px) {
  .parameters {
    grid-column: 1 / 2;
  }

  .parameters__list {
    padding: 0;
    margin-left: 110px;
  }
}
