.program__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.program__item {
  list-style: none;
}

.program__label {
  color: $special_dark-grey;
}

.program__item {
  display: flex;
  align-items: center;
}

.program__item:not(:last-child) {
  margin-bottom: 13px;
}

.program__list {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding: 25px 20px;

  display: flex;
  flex-direction: column;
}

.program__label {
  padding: 10px;
  padding-left: 45px;
  position: relative;
}

.program__label:before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid $special_grey;
  left: 0;
  top: calc(50% - 15px);
}

.program__item input:checked + .program__label::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: $basic_green;
  left: 9px;
  top: calc(50% - 6px);
}
