.table {
  margin: 0 20px;
}

table.table {
  display: grid;
}

.table__item:first-child {
  border-top: 1px solid $special_grey;
}

.table__item {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(3, auto);
  row-gap: 12px;
  padding: 20px 0;
  border-bottom: 1px solid $special_grey;
}

.table__header {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $special_dark-grey-2;

  grid-column: 1 / -1;
  justify-self: left;
}

.table__quantity {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: $special_dark-grey;
}

.table__price {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: $special_dark-grey;
  justify-self: right;
}

.table__button {
  grid-column: 1 / -1;
  display: flex;
}

.table__button .button {
  font-size: 16px;
  line-height: 20px;
  flex-grow: 1;
}

@media (min-width: 768px) {
  .table {
    margin: 0 30px;
    border-left: 1px solid $special_grey;
    border-right: 1px solid $special_grey;
  }

  .table__item {
    padding: 25px 38px;
    grid-template-columns: 316px auto 100px;
    grid-template-rows: auto auto;
    row-gap: 20px;
    align-items: center;
  }

  .table__header {
    font-size: 20px;
    line-height: 20px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .table__quantity,
  .table__price {
    font-size: 16px;
    line-height: 20px;
    justify-self: right;
  }
}

@media (min-width: 1200px) {
  .table {
    margin: 0;
    border-left: none;
    border-right: none;
  }

  .table__item {
    padding: 10px 0;
    grid-template-columns: auto auto 80px 184px;
    grid-template-rows: auto;
    column-gap: 38px;
  }

  .table__button {
    grid-column: 4 / 5;
  }
}
